* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F7EBD4;
}

.error-message {
    display: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #1430B8;
    text-decoration: none;
}

h1 {
    font-family: 'Bitter', serif;
    padding: 50px;   
    line-height: 120%;
}

#js-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-bar {    
    background-color: white;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: 1px solid #091034;
}

.submit-button {
    font-size: 20px;
    border: none;
    color: #183BF0;
    cursor: pointer;
}

.suggested {
    font-family: 'Raleway', sans-serif;
    color: #091034;
    font-size: 12px;
    margin-bottom: 30px;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.image-result {
    width: 300px;
    height: 300px;
    object-fit: cover; 
    margin-right: 15px;
    border: 1px solid #091034;
    
}

.img-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 5px;
    padding-right: 15px;
}

.photographer-url {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #183BF0;
    text-decoration: none;
}

.photographer {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #091034;
}

.more-button {
    text-align: center;
    margin-bottom: 50px;
}

.show-more {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    color: #183BF0;
    border-radius: 10px;
    border: 1px solid #091034;
    background-color: white;
    cursor: pointer;
}

footer {
    font-family: 'Raleway', sans-serif;
    color: #183BF0;
}

@media screen and (min-width: 550px) {
    h1 {
        font-size: 3em;
    }

    .suggested {
        font-size: .9em;
    }

    .search-bar {
        width: 33%;
    }  

    .image-result {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4em;
    }
}

